@import "tailwindcss";
:root {
  --theme-primary: #003153; /* Blue */
  --theme-secondary: #F59E0B; /* Amber */
}

/* Custom utility classes */
.bg-theme {
  background-color: var(--theme-primary);
}

.text-theme {
  color: var(--theme-primary);
}

.bg-secondary {
  background-color: var(--theme-secondary);
}

.text-secondary {
  color: var(--theme-secondary);
}
